[Unit]
Description=Lets Encrypt provider

[Service]
Type=oneshot
ExecStart={{ letsencrypt_config_dir }}/renew_cert.sh \
    {{ letsencrypt_validation_dir }} \
    {{ letsencrypt_config_dir }} \
    {{ letsencrypt_certs }}
ExecStartPost=/bin/systemctl reload nginx.service

