server {
    listen 80;
    server_name {{ blog_domain }};

    keepalive_timeout 70;
    access_log /var/log/nginx/{{ blog_domain }}/access.log;
    error_log /var/log/nginx/{{ blog_domain }}/error.log;
    include snippets/letsencrypt.conf;

    {% if ssl %}
    location / {
        return 301 https://$server_name$request_uri;
    }
}
server {
    listen 443 ssl;
    server_name {{ blog_domain }};
    include snippets/sslsettings.conf;
    location / {
        root {{ blog_path }};
    }
}

{% else %}
    location / {
        root {{ blog_path }};
    }
}
{% endif %}
